<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= data.attributes.title %> | <%= config.custom.title %></title>
    <link rel="stylesheet" href="/style/index.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css"
      integrity="sha384-AfEj0r4/OFrOo5t7NnNe46zW/tFgW6x/bCJG8FqQCEo3+Aro6EYUG4+cU+KJWu/X"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap"
    />

    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" />
    <% function formatDate(date) { const months = ['January', 'February',
    'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October',
    'November', 'December']; return months[date.getMonth()] + ' ' +
    date.getDate() + ', ' + date.getFullYear(); } %>
  </head>

  <body>
    <header>
      <a href="/">Jake Sarjeant</a>
    </header>
    <main>
      <div class="body">
        <nav>
          <a href="/#more">⭠ Back Home</a>
          <time><%= formatDate(new Date(data.attributes.time))%></time>
        </nav>
        <div class="head">
          <h1 class="title"><%= data.attributes.title %></h1>
          <p class="description"><%= data.attributes.description %></p>
          <%- data.attributes.cover && (inert.getOptimizedImage(config,
          data.attributes.cover, "cover") || `<img
            id="cover"
            src="${data.attributes.cover}"
            alt=""
          />`) %>
        </div>
        <div class="content"><%- data.body %></div>
        <hr />
        <% if (data.attributes.tags) { %>
        <div class="tags">
          <% data.attributes.tags.forEach(tag => { %>
          <a
            class="tag"
            href="/tags/<%= tag %>"
            title="This post was tagged “<%= (config.custom.tags[tag] || {}).display || 'unknown' %>”"
            style="--fg: <%= (config.custom.tags[tag] || {}).color %>; --bg: <%= (config.custom.tags[tag] || {}).bg%>"
            ><%= (config.custom.tags[tag] || {}).display || tag %></a
          >
          <% }); %>
        </div>
        <% } %>
        <div class="author">
          <h3 class="written-by">Written by</h3>
          <div class="author-name">
            <div
              class="author-avatar"
              style="
                --url: url('<%= (config.custom.authors[data.attributes.author] || {}).avatar || '/assets/default_avatar.png' %>');
              "
            ></div>
            <div>
              <h4 class="author-name--name">
                <%= data.attributes.author || 'Unknown Author' %>
              </h4>
              <p class="author-name--description">
                <%= (config.custom.authors[data.attributes.author]
                || {}).description || 'Unknown' %>
              </p>
            </div>
          </div>
          <p class="author-description">
            <%= (config.custom.authors[data.attributes.author] || {}).about
            || 'Sadly, we don\'t know a lot about who wrote this 😕' %>
          </p>
          <% if (data.attributes.coauthors) { %>
            <h3 class="coauthored-by">Co-authored by</h3>
            <% data.attributes.coauthors.forEach(coauthor => { %>
              <div class="author-name">
                <div
                  class="author-avatar"
                  style="
                    --url: url('<%= (config.custom.authors[coauthor] || {}).avatar || '/assets/default_avatar.png' %>');
                  "
                ></div>
                <div>
                  <h4 class="author-name--name">
                    <%= coauthor || 'Unknown Author' %>
                  </h4>
                  <p class="author-name--description">
                    <%= (config.custom.authors[coauthor]
                    || {}).description || 'Unknown' %>
                  </p>
                </div>
              </div>
              <p class="author-description">
                <%= (config.custom.authors[coauthor] || {}).about
                || 'Sadly, we don\'t know a lot about who co-wrote this 😕' %>
              </p>
            <% }); %>
          <% } %>
        </div>
        <hr/>
      </div>
      <div class="col-right"></div>
    </main>
  </body>
</html>
